<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="/index.html" class="site-title">
        <img
          class="logo"
          src="/images/favicon-200x200.png"
          alt="logo">
        <div class="site-title-text">
          <div class="site-title-name">{{ site.title }}</div>
          <div class="site-description">
            {{ site.description }}
          </div>
        </div>
      </a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
